/* Created by WK Productions */

.container .panel-heading {
  font-size: 20px;
}
.form-wrapper {
  padding: 15px 0 0;
}
.form-wrapper .form-label {
  padding: 6px 0 0;
  text-align: right;
}
.form-wrapper .default-value {
  padding: 6px 0 0;
  display: block;
}
.form-wrapper .button-wrapper {
  float: left;
}
.form-wrapper .button-wrapper + .button-wrapper {
  margin: 0 0 0 10px;
}
table.table-center-header {
  border: 1px solid #DDDDDD;
}
table.table-center-header thead tr th {
  vertical-align: middle;
  text-align: center;
}
table.table-center-header tbody tr td {
  vertical-align: middle;
}
table.table-center-header tbody tr td.action-column {
  text-align: center;
}
.no-padding {
  padding: 0;
}

/* Media Queries */
@media (max-width: 992px) {
  .form-wrapper .form-label {
    padding: 0;
    text-align: left;
  }
}