/*css login*/

.card-container.card {
    padding: 5px 20px;
    max-width: 350px;
    margin-bottom: 60px;
}
.card {
    background-color: #fff;
    margin: 0 auto 25px;
    margin-top: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 20px;
	top: 3px;
	position: relative;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    min-height: 1em;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.btn.btn-signin {
    background-color: skyblue;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 100px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn-link {
	color: rgb(0,118,192);
	font-weight: normal;
	border-radius: 0;
	/*padding-top: 10px;*/
    float: right;
    margin-top: -7px;
}

.btn-regis {
	color: rgb(0,118,192);
	font-weight: normal;
	border-radius: 0;
	padding-top: 15px;
    text-align: center;
    width: 100%;
}